<li class="repo">
  <div class="titlebox">
    <a href="{{repourl}}"><h3 class="repotitle">{{repotitle}}</h3></a>
    <span class="forktext"><a href="{{forkeduserurl}}" class="forklink">{{forkedfrom}}</a></span>
    <span class="update">{{updatetime}}</span>
  </div>
  <div class="languagebox">
    <span class="repolanguage">{{repolanguage}}</span>
    <span class="starredinfo"><i class="fa fa-star"></i>{{stargazerscount}}</span>
    <span class="forkinfo"><i class="fa fa-code-fork"></i>{{forkcount}}</span>
  </div>
</li>
