<img src="{{profileimage}}" class="profileimage">
<h1 class="profilename">{{profilename}}</h1>
<h2 class="profileusername">{{profileusername}}</h2>
<div class="sideline"></div>
<div class="profileinfo">
  <span class="country"><i class="fa fa-map-marker"></i>{{profilelocation}}</span>
  <span class="email"><i class="fa fa-envelope"></i><a href="mailto:{{profileemail}}" class="emaillink">{{profileemail}}</a></span>
  <span class="joindate"><i class="fa fa-clock-o"></i>{{joindate}}</span>
</div>
<div class="sideline"></div>
<div class="socialcontain">
  <a href="{{followerurl}}" class="sociallink"><div class="follower socialbox">
    <span class="followersocialnumber">{{followercount}}</span>
    <span class="followersocialtext">Followers</span>
  </div></a>
  <a href="{{starredurl}}" class="sociallink"><div class="starred socialbox">
    <span class="starredsocialnumber">{{starredcount}}</span>
    <span class="starredsocialtext">Starred</span>
  </div></a>
  <a href="{{followingurl}}" class="sociallink"><div class="following socialbox">
    <span class="followingsocialnumber">{{followingcount}}</span>
    <span class="followingsocialtext">Following</span>
  </div></a>
</div>
  <div class="sideline"></div>
  <h2 class="organizations">Organizations</h2>
  <img src="https://avatars0.githubusercontent.com/u/11824325?v=3&s=84" class="organizepic">
